.App {
  text-align: center;
}

.nav>li.logo {
  border-right: 1px black solid;
  line-height: 0;
  margin-top: 14px;
}

.nav>li.logo>a {
  pointer-events: none;
  cursor: default;
  color: black;
}

.main-nav {
  font-size: 20px;
  border-bottom: 1px black solid;
  margin-bottom: 15px;
}

.main-nav.nav-pills>li.active>a {
  color: black;
  background-color: white;
}

.nav>li>a {
  color: grey;
}

.nav>li>a:focus {
  background-color: initial;
}

.nav>li>a:hover {
  color: black;
  background-color: white;
}

#footer {
  margin-top: 15px;
  background-color: rgb(235, 235, 235);
}

.alignleft {
  margin: 10px 30px;
  float: left;
}

.alignright {
  margin: 10px 30px;
  float: right;
}

.tab-content .row {
  padding-right: 20px;
  padding-left: 20px;
}

.tab-content .row .imgContainer {
  padding-bottom: 15px;
}

.tab-content .row .imgContainer img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tab-content .row .liked .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.load-more {
  padding: 10px 15px;
  border: 1px black solid;
  border-radius: 5px;
}

.imgContainer:hover .overlay {
  opacity: 0.5;
}

.icon {
  color: rgb(255, 82, 81);
  font-size: 50px;
  position: absolute;
  right: 20px;
  bottom: 10px;

}

.fa-heart:hover {
  color: rgb(255, 82, 81);
}

.icon:hover {
  color: rgb(255, 82, 81);
}

input {
  border: none;
  border-bottom: 1px black solid;
  width: 60%;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 100;
}

*:focus {
  outline: none;
}